version: "3.3"

services:
  ergonode:
    build: 
      context: .
      dockerfile: Dockerfile.node.testnet.dev
    container_name: ergonode
  #  environment:
  #    - DEBUG=1
    volumes: 
      - '/var/ergo/testnet/.ergo:/var/ergo/.ergo'
    ports:
      - "9053:9052" # rempap for config files
    depends_on:
      - ergoredis
    # command: ["java", "-jar", "ergo.jar", "--testnet", "-c", "ergo.conf"]

  ergopayout:
    build:
      context: .
      dockerfile: Dockerfile.payout
    container_name: ergopayout
    volumes: 
      - '/var/git/TulipFarm/payout:/app'
    ports:
      - "80:80"    
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--debug", "--port", "80", "--reload-dir", "/app"]

  ergopool:
    build: 
      context: .
      dockerfile: Dockerfile.pool.dev
    container_name: ergopool
    volumes: 
      - '/var/git/TulipFarm/pool:/var/ergo'
    ports: 
      - "3032:3032" # 
      - "8008:8008" # stratum
      - "2127:2127" # website
    entrypoint: nodemon -e html,css,js init.js
    depends_on:
      - ergonode
            
  ergoredis:
    image: redis
    container_name: ergoredis
    ports:
      - "6379:6379"
    # redis persistence
    volumes:
      - /var/ergo/testnet/redis:/data
    entrypoint: redis-server --appendonly yes

  ergodb:
    image: postgres:13-alpine
    container_name: ergodb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: winter
      POSTGRES_PASSWORD: t00lip
    volumes:
      - /var/ergo/testnet/postgres:/var/lib/postgresql/data