version: "3.3"

services:
  ergonode:
    build: 
      context: .
      dockerfile: Dockerfile.node
    container_name: ergonode
  #  environment:
  #    - DEBUG=1
    volumes: 
      - '/var/ergo/mainnet/.ergo:/var/ergo/.ergo'
    ports:
      - "9053:9053"
  #  deploy:
  #    restart_policy:
  #      condition: always
    depends_on:
      - ergoredis

  ergopayout:
    build:
      context: .
      dockerfile: Dockerfile.payout
    container_name: ergopayout
    volumes: 
      - '/var/git/TulipFarm/payout:/app'
    ports:
      - "80:80"    
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "80", "--reload-dir", "/app"]

  ergopool:
    build: 
      context: .
      dockerfile: Dockerfile.pool
    container_name: ergopool
    ports: 
      - "3032:3032" # 
      - "8008:8008" # stratum
      - "2127:2127" # website
  #  deploy:
  #    restart_policy:
  #      condition: always
    depends_on:
      - ergonode
            
  ergoredis:
    image: redis
    container_name: ergoredis
    ports:
      - "6379:6379"
    # redis persistence
    volumes:
      - /var/ergo/mainnet/redis:/data
    entrypoint: redis-server --appendonly yes

  ergodb:
    image: postgres:13-alpine
    container_name: ergodb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: winter
      POSTGRES_PASSWORD: t00lip
    volumes:
      - /var/ergo/mainnet/postgres:/var/lib/postgresql/data