version: "3.3"

services:
  ergonode:
    build: 
      context: .
      dockerfile: Dockerfile.node
    container_name: ergonode
  #  environment:
  #    - DEBUG=1
    volumes: ['/var/ergo/mainnet.primary/.ergo:/var/ergo/.ergo']
    ports:
      - "9053:9053"
  #  deploy:
  #    restart_policy:
  #      condition: always
    depends_on:
      - ergoredis

  ergopayout:
    build:
      context: .
      dockerfile: Dockerfile.payout
    container_name: ergopayout
    volumes: ['/var/ergo/payout:/var/ergo/payout']
    ports:
      - "80:80"    

  ergopool:
    build: 
      context: .
      dockerfile: Dockerfile.pool
    container_name: ergopool
    ports: 
      - "3032:3032" # 
      - "8008:8008" # stratum
      - "2127:2127" # website
  #  deploy:
  #    restart_policy:
  #      condition: always
    depends_on:
      - ergonode
            
  ergoredis:
    image: redis
    container_name: ergoredis
    ports:
      - "6379:6379"
