version: "3.3"

services:
  ergonode:
    build: 
      context: .
      dockerfile: Dockerfile.node.dev
    container_name: ergonode
  #  environment:
  #    - DEBUG=1
    volumes: ['/var/ergo/mainnet.primary/.ergo:/var/ergo/.ergo']
    ports:
      - "9053:9053" ## mainnet
  #  deploy:
  #    restart_policy:
  #      condition: always
    depends_on:
      - ergoredis

  ergopayout:
    build:
      context: .
      dockerfile: Dockerfile.payout
    container_name: ergopayout
    volumes: ['/var/git/TulipFarm/payout:/app']
    ports:
      - "80:80"    

  ergopool:
    build: 
      context: .
      dockerfile: Dockerfile.pool.dev
    container_name: ergopool
    volumes: ['/var/git/TulipFarm/pool:/var/ergo']
    ports: 
      - "3032:3032" # 
      - "8008:8008" # stratum
      - "2127:2127" # website
  #  deploy:
  #    restart_policy:
  #      condition: always
    entrypoint: nodemon -e html,css,js init.js
    depends_on:
      - ergonode
            
  ergoredis:
    image: redis
    container_name: ergoredis
    ports:
      - "6379:6379"
    # redis persistence
    volumes:
      - /var/redis/dev:/data
    entrypoint: redis-server --appendonly yes

  ergodb:
    image: postgres:13-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: winter
      POSTGRES_PASSWORD: t00lip
      PGDATA: /var/ergo/db/mainnet/data:/var/lib/postgresql/data

